<div class="container">
        <div class="form-group">
            <select id="product-select" class="form-control custom-select">
              <option value="0" disable selected>Select Product</option>
              <option value="sony">Sony 4K TV</option>
              <option value="samsung">Samsung 4K TV</option>
              <option value="vizio">Vizio 4K TV</option>
              <option value="panasonic">Panasonic 4K TV</option>
              <option value="phillips">Phillips 4K TV</option>
            </select>
        </div>
        <div class="form-group">
            <input type="number" id="rating-control" class="form-control" step="0.1" max="5" placeholder="rate 1 - 5" disabled>
        </div>
    </div>

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>4K Television</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <!-- Table row 1 -->
                <tr class="sony">
                    <td>Sony 4k TV</td>
                    <td>
                        <!-- Placeholders for filled and empty stars -->
                        <div class="stars-outer">
                            <div class="stars-inner"></div>
                        </div>
                        <span class="number-rating"></span>
                    </td>
                </tr>
                <!-- close table row -->
                <!-- Table row 2 -->
                <tr class="samsung">
                        <td>Samsung 4k TV</td>
                        <td>
                            <!-- Placeholders for filled and empty stars -->
                            <div class="stars-outer">
                                <div class="stars-inner"></div>
                            </div>
                            <span class="number-rating"></span>
                        </td>
                    </tr>
                    <!-- close table row -->
                    <!-- Table row 3 -->
                <tr class="vizio">
                        <td>Vizio 4k TV</td>
                        <td>
                            <!-- Placeholders for filled and empty stars -->
                            <div class="stars-outer">
                                <div class="stars-inner"></div>
                            </div>
                            <span class="number-rating"></span>
                        </td>
                    </tr>
                    <!-- close table row -->
                    <!-- Table row 4 -->
                <tr class="panasonic">
                        <td>Panasonic 4k TV</td>
                        <td>
                            <!-- Placeholders for filled and empty stars -->
                            <div class="stars-outer">
                                <div class="stars-inner"></div>
                            </div>
                            <span class="number-rating"></span>
                        </td>
                    </tr>
                    <!-- close table row -->
                    <!-- Table row 5 -->
                <tr class="phillips">
                        <td>Phillips 4k TV</td>
                        <td>
                            <!-- Placeholders for filled and empty stars -->
                            <div class="stars-outer">
                                <div class="stars-inner"></div>
                            </div>
                            <span class="number-rating"></span>
                        </td>
                    </tr>
                    <!-- close table row -->
            </tbody>
        </table>
    </div>
    
